
.hidden{
    display: none;
}

body{
    background-color: #fefae0;
    color: black;
}

body.dark{
    background-color: black;
    color: white;
}

header{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 5px solid #D4A373;
}
h1{
    font-size: 45pt;
}

#setup{
    display: flex;
    justify-content: center;
}

#setup > *{
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
}

button{
    justify-self: center;
    background: none;
    width: 150px;
    height: 50px;
    border: 1px solid black;
    font-size: 15px;
    border-radius: 2px;
    transition: .5s;
    overflow: hidden;
}

button:focus {
    outline: none;
}

button::before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, .5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
}

button::after{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translate(-100px) scaleX(-15deg);
}

button:hover{
    background: blue;
    cursor: pointer;
}

button:hover:before{
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s
}
button:hover:before{
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s
}

p#timer, p#lives{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

#game{
    display: flex;
    justify-content: center;
}

number-container > *{
    border: 1px solid black;
    border-radius: 20%;
    width: 60px;
    height: 60px;
    font-size: 40pt;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center
}

#board{
    padding-top: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 600px;
    height: 60px;
}

.title{
    border: 1px solid black;
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 0px;
    vertical-align: middle;
    font-size: 40pt;
}

p.selected{
    background-color:green;
}

p.incorrect{
    color: red;
}
