
:root{
    --white: white;
    --black: black;
    --primary-light: #fefae0;
    --secondary-light: #D4A373;
    --third-light: #E9EDC9;
    --fourth-light: #CCD5AE;
    --fifth-light: #FAEDCD;

}
.hidden{
    display: none;
}

body{
    background-color: var(--primary-light);
    color: var(--black);
}

body.dark{
    background-color: var(--black);
    color: var(--white);
}

header{
    text-align: center;
    padding-bottom: 10px;
    color: var(--secondary-light);
    border-bottom: 5px solid var(--secondary-light);
}
h1{
    font-size: 45pt;
    color: var(--secondary-light);
}

#setup{
    display: flex;
    justify-content: center;
}

#setup > *{
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
}

button{
    justify-self: center;
    border: 3px solid var(--secondary-light);
    color: var(--secondary-light);
    background: none;
    padding: 10px 20px;
    font-size:20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

button:hover{
    color: var(--secondary-light);
}

button:before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: var(--third-light);
    z-index: -1;
    transition: 0.8s;
    top: 0;
    border-radius: 0 0 50% 50%;
}

button:hover::before{
    height:180%
}


p#timer, p#lives{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

#game{
    display: flex;
    justify-content: center;
}

number-container > p{
    border: 1px solid black;
    border-radius: 20%;
    width: 60px;
    height: 60px;
    font-size: 40pt;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center
}

#board{
    padding-top: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 600px;
    height: 600px;
}

.tile{
    border: 1px solid black;
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 0px;
    vertical-align: middle;
    font-size: 40pt;
}

p.selected{
    background-color:var(--fourth-light);
}

p.incorrect{
    color: red;
}

.rightBorder{
    border-right: 4px solid var(--black);
}

.bottomBorder{
    border-right: 4px solid var(--black);
}

footer{
    text-align: center;
}